<div class = "container" ng-controller="MyInfoController as myinfo">

	<div ng-if="myinfo.checkIfRegistered">
	<h4> Registered information </h4>
	First Name: {{myinfo.users[0].firstname}} <br>
	Last Name: {{myinfo.users[0].lastname}}<br>
	Email: {{myinfo.users[0].email}}<br>
	Phone: {{myinfo.users[0].phone}}<br>
	Your favourite Menu Number: {{myinfo.users[0].menunumber}} <br><br>
	

  <div class="container" >

  <h5> {{ myinfo.getFavMenu[myinfo.users[0].part1].category.name}} Menu </h5>
  <menu-item ng-if="$index == myinfo.users[0].part2" ng-repeat="menuItem in myinfo.getFavMenu[myinfo.users[0].part1].menu_items"
             menu-item="menuItem" 
             category-short-name="myinfo.getFavMenu[myinfo.users[0].part1].category.short_name">
  </menu-item>


</div>
	

	</div>
	<div ng-if="!myinfo.checkIfRegistered">
		Not Signed Up Yet.<a ui-sref="public.signUp"> Sign up Now!</a>
	</div>
</div>